.create-project-view {
    background: hsl(0, 0%, 90%);
    padding-top: 110px;
}
  
.test {
    max-width: 800px;
}
  
.create-project__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: hsl(0, 0%, 3%);
  padding-bottom: 50px;
}
  
.create-project__description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: hsl(0, 0%, 60%);
    padding-bottom: 80px;
}
  
.create-project__row {
    display: flex;
    align-content: space-between;
}

.item-create-project__h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.item-create-project__p {
    font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  padding-bottom: 50px;
}