//write here your scss styles
//@import "./sections/header";body  background-color: grey;//

@import './shared/index.scss';
@import 'reset.scss';
@import './sections/index.scss';
@import './sections/our-specialists.scss';
@import './sections/our-work.scss';
@import './sections/contact-info.scss';
@import './sections/footer.scss';


html {
  font-family: Montserrat;
  font-size: $default-rem;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 100px 0;
}

.conainer--no-padding {
  padding: 0;
}

main {
  max-width: 830px;
}

.click {
  width: 200px;
  height: 45px;
  margin: 0 auto;
}

.click__button {
  font-weight: 500;
  font-size: $paragraph-fontsize;
  font-family: Montserrat;
  font-style: normal;
  line-height: 20px;
  text-align: center;
  border: none;
  padding: 15px 30px;
  background: $primary-color;
  border-radius: 30px; 
  color: hsl(0, 0%, 100%);
  
}

